@page "/blog"

<PageScript Src="./Components/Pages/BlogPost.razor.js?counter" />

<h1>Blog temp page</h1>

<CodeSnippet>@CodeSample</CodeSnippet>


@code {
    private const string CodeSample = @"
// C#
public class PersonModel
{
    public int Id { get; set; }
    [Display(Name=""First Name"")]
    public string Name { get; set; }
    public string City { get; set; }
    public string State { get; set; }
    [BlazinHeaderFormat(""{0:C}"")]
    public int Salary { get; set; }
    [BlazinHeaderIgnore]
    public string ThisColumnWontEvenShowUp { get; set; }
}

// Now C++
class person
{
public:
    person(int id, std::string name, std::string city, std::string state, int salary)
        : m_id(id), m_name(std::move(name)), m_city(std::move(city)), m_state(std::move(state)), m_salary(salary)
    {
    }

    constexpr int id() const { return m_id; }
    constexpr const std::string& name() const { return m_name; }
    constexpr const std::string& city() const { return m_city; }
    constexpr const std::string& state() const { return m_state; }
    constexpr int salary() const { return m_salary; }
private:
    int m_id;
    std::string m_name;
    std::string m_city;
    std::string m_state;
    int m_salary;
};
";
}
