@page "/"

<PageTitle>Odds &amp; Bits</PageTitle>

<!--------------------------------------
HEADER
--------------------------------------->
<div class="container">
    <div class="jumbotron jumbotron-fluid mb-3 pt-0 pb-0 position-relative">
        <div class="pl-4 pr-0 h-100 tofront">
            <div class="row justify-content-between">
                <div class="col-md-6 pt-6 pb-6 align-self-center bg-lightteal">
                    <h1 class="secondfont mb-3 font-weight-bold">Title for either featured or most recent post</h1>
                    <p class="mb-3">
                        The intro for said blog blah blkadsfnjkdsnfk jdsnfkjndsfkjgndkfj ngkjdfngkjnfdgnjfd blkadsfnjkdsnfk jdsnfkjndsfkjgndkfj ngkjdfngkjnfdgnjfd blkadsfnjkdsnfk blkadsfnjkdsnfk jdsnfkjndsfkjgndkfj ngkjdfngkjnfdgnjfd blkadsfnjkdsnfk blkadsfnjkdsnfk jdsnfkjndsfkjgndkfj ngkjdfngkjnfdgnjfd blkadsfnjkdsnfk blkadsfnjkdsnfk jdsnfkjndsfkjgndkfj ngkjdfngkjnfdgnjfd blkadsfnjkdsnfk blkadsfnjkdsnfk jdsnfkjndsfkjgndkfj ngkjdfngkjnfdgnjfd blkadsfnjkdsnfk blkadsfnjkdsnfk jdsnfkjndsfkjgndkfj ngkjdfngkjnfdgnjfd blkadsfnjkdsnfk blkadsfnjkdsnfk jdsnfkjndsfkjgndkfj ngkjdfngkjnfdgnjfd blkadsfnjkdsnfk blkadsfnjkdsnfk jdsnfkjndsfkjgndkfj ngkjdfngkjnfdgnjfd blkadsfnjkdsnfk blkadsfnjkdsnfk jdsnfkjndsfkjgndkfj ngkjdfngkjnfdgnjfd blkadsfnjkdsnfk.
                    </p>
                    <NavLink href="/blog" class="btn btn-dark">Read More</NavLink>
                </div>
                <div class="col-md-6 d-none d-md-block pr-0" style="background-size: cover; background-image: url(./img/demo/home.jpg);"> </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header -->
<!--------------------------------------
MAIN
--------------------------------------->

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-8">
            <h5 class="font-weight-bold spanborder"><span>Featured Posts</span></h5>
            <BlogList/>
        </div>
        <div class="col-md-4 pl-4">
            <h5 class="font-weight-bold spanborder"><span>Popular</span></h5>
            <RankedList/>
        </div>
    </div>
</div>