<div class="container mt-5">
    <footer class="bg-white border-top p-3 text-muted small">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <span class="navbar-brand mr-2"><strong>Odds &amp; Bits</strong></span> Copyright &copy;
                @DateTime.Today.Year
                . Matt Rogers. All rights reserved.
            </div>
            <div>
                <NavLink target="_blank" href="/terms">Terms of Service</NavLink>
                <span>&nbsp;</span>
                <NavLink target="_blank" href="/privacy">Privacy Policy</NavLink>
            </div>
            <div>
                Design based on <a target="_blank" class="text-secondary font-weight-bold" href="https://www.wowthemes.net/mundana-free-html-bootstrap-template/">Mundana Theme</a> by WowThemes.net.
            </div>
        </div>
    </footer>
</div>

@code {

}