@inherits LayoutComponentBase



<TopNavBar />

<div class="odds-body">
    <HxMessenger Position="ToastContainerPosition.TopCenter"/>
    <HxMessageBoxHost/>
    @Body
</div>

<Footer />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
