@inherits LayoutComponentBase

    <TopNavBar />

    <div class="odds-body">
        @Body
    </div>
    <footer class="text-center d-flex align-items-center justify-content-center footer py-6" style="height: 100px">
        <span class="mb-0 py-2">Copyright &copy; Matt Rogers 2024</span>
    </footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
