<div class="row">
	<div class="col-lg-6">
		<div class="card border-0 mb-4 box-shadow h-xl-300">
			<div style="background-image: url(img/demo/1.jpg); height: 150px;    background-size: cover;    background-repeat: no-repeat;"></div>
			<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
				<h2 class="h4 font-weight-bold">
					<NavLink class="text-dark" href="/blog">Post title here. Maybe for featured posts? Maybe latest?</NavLink>
				</h2>
				<p class="card-text">
					Post's intro text here. Full intro or just first sentence? I'm leaning towards full intro for these and sentence for the other list without images.
				</p>
				<div>
					<small class="d-block"><NavLink class="text-muted" href="./author.html">Author Name</NavLink></small>
					<small class="text-muted">Apr 21 &middot; 5 min read</small>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="flex-md-row mb-4 box-shadow h-xl-300">
			<div class="mb-3 d-flex align-items-center">
				<img height="80" src="img/demo/blog4.jpg">
				<div class="pl-3">
					<h2 class="mb-2 h6 font-weight-bold">
						<NavLink class="text-dark" href="/blog">Post title here. Maybe for featured posts? Maybe latest?</NavLink>
					</h2>
					<div class="card-text text-muted small">
						Author Name in CATEGORY NAME
					</div>
					<small class="text-muted">Apr 21 &middot; 5 min read</small>
				</div>
			</div>
			<div class="mb-3 d-flex align-items-center">
				<img height="80" src="img/demo/blog5.jpg">
				<div class="pl-3">
					<h2 class="mb-2 h6 font-weight-bold">
						<NavLink class="text-dark" href="/blog">Post title here. Maybe for featured posts? Maybe latest?</NavLink>
					</h2>
					<div class="card-text text-muted small">
                        Author Name in CATEGORY NAME
					</div>
					<small class="text-muted">Apr 21 &middot; 5 min read</small>
				</div>
			</div>
			<div class="mb-3 d-flex align-items-center">
				<img height="80" src="img/demo/blog6.jpg">
				<div class="pl-3">
					<h2 class="mb-2 h6 font-weight-bold">
						<NavLink class="text-dark" href="/blog">Sun-skimming probe starts calling home</NavLink>
					</h2>
					<div class="card-text text-muted small">
                        Author Name in CATEGORY NAME
					</div>
					<small class="text-muted">Apr 21 &middot; 5 min read</small>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

}
