<div class="mb-3 d-flex justify-content-between">
    <div class="pr-3">
        <h2 class="mb-1 h4 font-weight-bold">
            <NavLink class="text-dark" href="/blog">Featured post title here</NavLink>
        </h2>
        <p>
            Featured post intro text here. Full intro or just first sentence?
        </p>
        <div class="card-text text-muted small">
            Author Name in CATEGORY NAME
        </div>
        <small class="text-muted">Apr 21 &middot; 5 min read</small>
    </div>
    <img height="120" src="img/demo/blog8.jpg">
</div>
<div class="mb-3 d-flex justify-content-between">
    <div class="pr-3">
        <h2 class="mb-1 h4 font-weight-bold">
            <NavLink class="text-dark" href="/blog">Featured post title here</NavLink>
        </h2>
        <p>
            Featured post intro text here. Full intro or just first sentence?
        </p>
        <div class="card-text text-muted small">
            Author Name in CATEGORY NAME
        </div>
        <small class="text-muted">Apr 21 &middot; 5 min read</small>
    </div>
    <img height="120" src="img/demo/1.jpg">
</div>
<div class="mb-3 d-flex justify-content-between">
    <div class="pr-3">
        <h2 class="mb-1 h4 font-weight-bold">
            <NavLink class="text-dark" href="/blog">Featured post title here</NavLink>
        </h2>
        <p>
            Featured post intro text here. Full intro or just first sentence?
        </p>
        <div class="card-text text-muted small">
            Author Name in CATEGORY NAME
        </div>
        <small class="text-muted">Apr 21 &middot; 5 min read</small>
    </div>
    <img height="120" src="img/demo/5.jpg">
</div>


@code {

}