<ol class="list-featured">
    <li>
        <span>
            <h6 class="font-weight-bold">
                <NavLink href="/blog" class="text-dark">Popular post tile here! Top 4 looks better but top 5 makes more sense</NavLink>
            </h6>
            <p class="text-muted">
                Author Name in CATEGORY NAME
            </p>
        </span>
    </li>
    <li>
        <span>
            <h6 class="font-weight-bold">
                <NavLink href="/blog" class="text-dark">Popular post tile here! Top 4 looks better but top 5 makes more sense</NavLink>
            </h6>
            <p class="text-muted">
                Author Name in CATEGORY NAME
            </p>
        </span>
    </li>
    <li>
        <span>
            <h6 class="font-weight-bold">
                <NavLink href="/blog" class="text-dark">Popular post tile here! Top 4 looks better but top 5 makes more sense</NavLink>
            </h6>
            <p class="text-muted">
                Author Name in CATEGORY NAME
            </p>
        </span>
    </li>
    <li>
        <span>
            <h6 class="font-weight-bold">
                <NavLink href="/blog" class="text-dark">Popular post tile here! Top 4 looks better but top 5 makes more sense</NavLink>
            </h6>
            <p class="text-muted">
                Author Name in CATEGORY NAME
            </p>
        </span>
    </li>
</ol>

@code {

}