@rendermode InteractiveServer

@using SocialMediaSharingBlazor
@inject ISocialMediaSharing SocialMediaSharing

<div class="share d-inline-block">
    <HxButton OnClick="Share" Color="ThemeColor.Light" Outline="true" CssClass="text-muted">Share this</HxButton>
    <!-- AddToAny BEGIN -->
    @*<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>*@
    <!-- AddToAny END -->
</div>

@code {

    [Parameter]
    public string Author { get; set; }

    [Parameter]
    public string Slug { get; set; }

    private void Share()
    {
        SocialMediaSharing.ShareOnSocialMedia(
            title: "Share this post on Social Media",
            text: $"Check out this post by {Author} on Odds & Bits!",
            url: $"https://oddsnbits.azurewebsites.net/blogs/{Slug}"
            );
    }
}
