@page "/Account/Manage"

@using System.ComponentModel.DataAnnotations
@using System.Diagnostics
@using Microsoft.AspNetCore.Identity
@using OddsNBits.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

@inject IWebHostEnvironment WebHost
@inject IHxMessengerService Messenger

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<StatusMessage />

<div class="row">
    <div class="col-md-6">
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post" enctype="multipart/form-data">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <input type="text" value="@_username" class="form-control" placeholder="Please choose your username." disabled />
                <label for="username" class="form-label">Username</label>
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.DisplayName" class="form-control" placeholder="Your Name" />
                <label for="display-name" class="form-label">Display Name</label>
                <ValidationMessage For="() => Input.DisplayName" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                @if (_user is not null && !string.IsNullOrWhiteSpace(_user.Image))
                {
                    <div class="mb-3">
                        <img src="@_user.Image" style="height: 200px" />
                    </div>
                }
                <div class="mb-3">
                    <label class="form-label d-block">Upload Profile Image</label>
                    <InputFile name="Input.Image" />
                </div>
            </div>
            @* <div class="form-floating mb-3"> *@
            @*     <InputText @bind-Value="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." /> *@
            @*     <label for="phone-number" class="form-label">Phone number</label> *@
            @*     <ValidationMessage For="() => Input.PhoneNumber" class="text-danger" /> *@
            @* </div> *@
            <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </EditForm>
    </div>
</div>

@code {
    private ApplicationUser _user = default!;
    private string? _username;
    // private string? phoneNumber;
    private string? _displayName;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        _user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        _username = await UserManager.GetUserNameAsync(_user);
        // phoneNumber = await UserManager.GetPhoneNumberAsync(user);
        _displayName = _user.DisplayName;

        Input.DisplayName ??= _displayName;
        // Input.PhoneNumber ??= phoneNumber;
    }

    private async Task OnValidSubmitAsync()
    {
        // if (Input.PhoneNumber != phoneNumber)
        // {
        //     var setPhoneResult = await UserManager.SetPhoneNumberAsync(user, Input.PhoneNumber);
        //     if (!setPhoneResult.Succeeded)
        //     {
        //         RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to set phone number.", HttpContext);
        //     }
        // }

        if(Input.DisplayName != _displayName)
        {
            _user.DisplayName = Input.DisplayName!;
            var result = await UserManager.UpdateAsync(_user);
            if(!result.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to set display name.", HttpContext);
            }
        }


        if (Input.Image is not null)
        {
            var url = await SaveFileAsync(Input.Image);
            if (string.IsNullOrWhiteSpace(url))
            {
                Messenger.AddError("Image url was null");
                return;
            }
            if(!string.IsNullOrWhiteSpace(_user.Image))
            {
                DeleteImage(_user.Image);
            }

            _user.Image = url;

            var result = await UserManager.UpdateAsync(_user);
            if(!result.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to set profile image.", HttpContext);
            }
        }else
        {
            Debug.WriteLine($"[WARNING] Image file was null");
        }



        // TODO: Need to update the display name gotten from claims principle for purpose of the nav bar profile link
        await SignInManager.RefreshSignInAsync(_user);
        RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated", HttpContext);
    }

    // private async Task HandleFileUploadAsync(InputFileChangeEventArgs e)
    // {
    //     await PreviewImageAsync(e.File);
    //     _imageFile = e.File;
    // }
    //
    // private async Task PreviewImageAsync(IBrowserFile file)
    // {
    //     await using var imgStream = file.OpenReadStream();
    //     using MemoryStream memStream = new();
    //     await imgStream.CopyToAsync(memStream);
    //     Debug.WriteLine($"File type: {file.ContentType}");
    //     // data:image/type;base64,fijgofd_content_jnfdgjdfg
    //     _imageUrl = $"data:{file.ContentType};base64,{Convert.ToBase64String(memStream.ToArray())}";
    // }

    private void DeleteImage(string imageUrl)
    {
        var imgPath = imageUrl.Replace('/', '\\');
        var fullpath = Path.Combine(WebHost.WebRootPath, imgPath);
        try
        {
            File.Delete(fullpath);
        }
        catch (Exception e)
        {
            Debug.WriteLine($"[WARNING] Failed to delete image: {imageUrl} from {fullpath}: {e.Message}");
        }
    }

    private async Task<string?> SaveFileAsync(IFormFile file)
    {
        var trustedName = Path.GetRandomFileName();
        var ext = Path.GetExtension(file.FileName);
        // wwwroot\img\users
        var destination = Path.Combine(WebHost.WebRootPath, "img", "users");
        Directory.CreateDirectory(destination);

        var filename = Path.Combine("img", "users", trustedName + ext);

        var fullpath = Path.Combine(WebHost.WebRootPath, filename);

        await using FileStream fs = new(fullpath, FileMode.Create);
        try
        {
            await file.OpenReadStream().CopyToAsync(fs);

            return filename.Replace('\\', '/');
        }
        catch (Exception ex)
        {
            Messenger.AddError(title: "Failed to save image file!", message: ex.Message);
            fs.Close();

            return null;
        }
    }

    private sealed class InputModel
    {
        // [Phone]
        // [Display(Name = "Phone number")]
        // public string? PhoneNumber { get; set; }

        [Required]
        [StringLength(30, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 5)]
        [Display(Name = "Display Name")]
        public string? DisplayName { get; set; }

        public IFormFile? Image { get; set; }
    }
}
